textarea.browser-default, textarea.browser-default:focus
  border-bottom none
  box-shadow none

form[name="pageForm"]
  margin-top 24px

.secondary-content + .secondary-content
  padding-right 12px

.container
  width 95%
